    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">For Tenant</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-wechat fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">My Help</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left"><%= link_to "Click here to see more!", tenant_path %></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-heart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Wishlist</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left"><%= link_to "Click here to see more!", wishlist_path %></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-credit-card fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Reservation</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left"><%= link_to "Click here to see more!", reserves_path %></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">For Landlord</h3>
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-4 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">My House</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left"><%= link_to "Click here to see more!", landlord_path %></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    	<div class="col-lg-4 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-text fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Receipt</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left"><%= link_to "Click here to see more!", receipts_path %></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

