  <% if user_signed_in? %>
    <%= link_to new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
      <i class="fa fa-plus"></i> Add new house
    <% end %>
  <% end %>

  <br>
  <br>

  <% if @listings.blank? %>
        <h3>We don't have your house information.</h3>
    <% else %>
    <% @listings.each do |listing| %>
      <div class="panel panel-info">
        <table class="table">
            <tr>
                <td width="150" class="middle">
                  <div class="media">
                    <div class="media-left">
                      <%= image_tag listing.image.url(:thumb) %>
                    </div>
                  </div>  
                </td>
                <td>
                  <div class="media">
                    <div class="media-body">
                      <h4 class="media-heading"><%= listing.city %></h4>
                      <address>
                        <strong><%= listing.address %></strong><br>
                        <strong> € <%= listing.deposit %></strong><br>
                      </address>
                    </div>
                  </div>  
                </td>
                <td width="150">
                  <h3 class="button-rignt"> 
                        <%= link_to listing, class: "btn btn-circle btn-success btn-xs", title: "View" do %>
                          <i class="glyphicon glyphicon-eye-open"></i>
                        <% end %>
                        <%= link_to edit_listing_path(listing), class: "btn btn-circle btn-info btn-xs", title: "Edit" do %>
                          <i class="glyphicon glyphicon-edit"></i>
                        <% end %>
                        <%= link_to listing, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-circle btn-danger btn-xs", title: "Delete" do %></li>
                          <i class="glyphicon glyphicon-remove"></i>
                        <% end %>
                    </h3>
                </td>
            </tr>
        </table>
      </div>
    <% end %>
  <% end %>    

