<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.city %></h3>
    <p>Deposit:  € <%= @listing.deposit%></p>
    <p>Rental: € <%= @listing.rental%></p>
    <p>Address: <%= @listing.address%></p>

    <iframe
        width="300"
        height="200"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBk0n3HgHsD1_klWfbntFpqcnelHV-9a64&q=<%= @listing.address.parameterize %>&zoom=14">
    </iframe>

    <p>Description: <br> <%= @listing.description %></p>
    <br>
      <% if current_user != @listing.user %>
        <%= link_to new_listing_wishlist_path(@listing), class: "btn btn-circle btn-danger btn-xs", title: "Like" do %>
            <i class="fa fa-heart fa-fw"></i>
          <% end %>
        <%= link_to new_listing_reservation_path(@listing), class: "btn btn-circle btn-info btn-xs", title: "Reserve" do %>
            <i class="fa fa-credit-card fa-fw"></i>
          <% end %>
      <% end %>
  </div>
</div>
<br>
<% if current_user == @listing.user %>
  <%= link_to edit_listing_path(@listing), class: "btn btn-circle btn-info btn-xs", title: "Edit" do %>
    <i class="glyphicon glyphicon-edit"></i>
  <% end %>
<% end %>

<button class="btn btn-primary btn-circle" title="Back" onclick="javascript:history.back(-1);"><i class="glyphicon glyphicon-chevron-left"></i></button>