<div class = "center">
  <h1>Your Receipt History</h1>
</div>

<br>
<br>

<% if @reservations.blank? %>
      <h2>No receipts yet. </h2>
  <% else %>
    <% @reservations.each do |reservation| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>From <%= reservation.student.name %></h4>
      </div>
      <div class="panel-body">
        <p><%= reservation.message %></p>
      </div>
      <table class="table table-bordered">
      <tr>
        <th class="center">Contact the sudent</th>
        <td class="center"><a href="mailto:<%= reservation.student.email %>?subject=Landlord <%= reservation.landlord.name %> from IreHouse"><%= reservation.student.email %></td>
      </tr>  
      <tr>  
        <th class="center">Age</th>
        <td class="center"><%= reservation.age %></td>
      </tr>
      <tr>  
        <th class="center">Nationality</th>
        <td class="center"><%= reservation.nationality %></td>
      </tr> 
      <tr>
        <th class="center">Image</th>
        <td class="center">
            <%= image_tag reservation.listing.image.url(:thumb) %>
        </td>
      </tr>
      <tr>  
        <th class="center">City</th>
        <td class="center"><%= reservation.listing.city %></td>
      </tr> 
      <tr> 
        <th class="center">Address</th>
        <td class="center"><%= link_to reservation.listing.address, reservation.listing %></td>
      </tr>
      <tr>  
        <th class="center">Deposit</th>
        <td class="center"> € <%= reservation.listing.deposit %></td>
      </tr>
      <tr>  
        <th class="center">Date paid</th>
        <td class="center"><%= reservation.created_at.strftime("%B %-d, %Y") %></td>
      </tr>  
    </table>
    </div>
    <% end %>
<% end %>