  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

        <li class="sidebar-logo">
          <%= link_to listings_path do %><i class="fa fa-home"></i>IreHouse
            <% end %>
        </li>

        <li><%= link_to "Welcome", home_path %></li>
        <li><%= link_to "Help", help_path %></li>

        <% if user_signed_in? %>
            <li class="sidebar-brand">Tenant</li>         
                  <% active = params[:group_id] == nil ? 'active' : '' %>
                  <% Group.all.each do |group| %>
                  <% active = params[:group_id].to_i == group.id ? 'active' : '' %>
                    <li><%= link_to listings_path(group_id: group.id) do %>
                      <span class="badge"><%= group.listings.count %></span> <%= group.name %> 
                    <% end %></li>
                  <% end %>
                    <li><%= link_to "Reservation", reserves_path %></li>

            <li class="sidebar-brand">Landlord</li>                  
            <li><%= link_to "My House", landlord_path %></li>
            <li><%= link_to "Receipt History", receipts_path %></li>

                      
        <% end %>      
    </ul>
  </div>     